@{
    ViewData["Title"] = "Quản lý danh mục";
}
<div class="container-fluid mt-4">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800"><strong>Bảng quản lý danh mục</strong></h1>
        <a href="/admin/category/create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-list-1-2 fa-sm text-white-50"></i> Tạo danh mục mới
        </a>
    </div>
    <!-- Page Heading -->
    <p class="mb-4">
        Bảng này giúp quản lý các danh mục trong Website
    </p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh mục</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTableCategory" class="table table-bordered table-striped table-vcenter text-nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center"> STT</th>
                            <th class="text-center"> Hình ảnh</th>
                            <th class="text-center"> Tên danh mục</th>
                            <th class="text-center"> Chức năng </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/loadData/ListCategory.js"></script>
}